* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
}

:root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    --primary-color: rgba(16, 108, 216, 0.72);
    --secondary-color: #f8f9fe;
    --text-color: rgb(85, 97, 100);
}

::selection {
    color: var(--secondary-color);
    background: var(--primary-color);
}

@supports (scrollbar-width: thin) and (scrollbar-color: #e6e6e6 #f1f1f1) {
    /* Works on Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #e6e6e6 #f1f1f1;
    }
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    /*border-radius: 5px;*/
    /*background: #f1f1f1;*/
}

*::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, 0.7);
    border-radius: 2px;
    /*border: 3px solid orange;*/
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(180, 180, 180, 0.9);
    /*border-radius: 5px;*/
    /*border: 3px solid orange;*/
}

/**********************************************************/

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, var(--primary-color), #002239);
}

.app {
    width: 405px;
    position: relative;
    overflow: hidden;
    min-height: 50vh;
    max-height: 100vh;
    border-radius: 10px;
    background: var(--secondary-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

/**********************************************************/

.app input[type="checkbox"] {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.app input[type="checkbox"] + span:before {
    content: '\00f096';
    display: inline-block;
    position: relative;
    top: 3px;
    width: 1em;
    padding-left: 3px;
    margin: 0 10px 3px 3px;
    font: 1.5em FontAwesome;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: var(--primary-color);
}

.app input[type="checkbox"]:checked + span:before {
    content: '\00f046';
}

.app input[type="checkbox"]:focus + span:before {
    outline: 1px dotted #aaa;
}

.app input[type="checkbox"]:disabled + span:before {
    color: #999;
}

.app input[type="checkbox"]:not(:disabled) + span:hover:before {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

/**********************************************************/

.app .task-image {
    height: 150px;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    background-image: url("../img/to-do-list.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.app input[type="text"] {
    min-width: 30px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid #777;
}

.app input[type="text"]:focus,
.app input[type="text"].active {
    border: 1px solid var(--primary-color);
}

.app input[type="text"]::placeholder {
    color: #bfbfbf;
}

.app .task-add {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 0 15px;
}

.app .task-add label {
    width: 100%;
}

.app .task-add input[type="text"] {
    width: 100%;
    padding: 10px 45px 10px 15px;
}

.app .icon-add {
    position: absolute;
    right: 15px;
    padding: 1px 5px;
    margin-left: 5px;
    margin-right: 3px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 27px;
    color: var(--primary-color);
}

.app .icon-add:not(.disabled) {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.app .icon-add:hover:not(.disabled) {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.app .icon-add:active:not(.disabled) {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.app .icon-add.disabled {
    opacity: 0.5;
    cursor: default;
}

.app .icon-add.disabled:hover {
    text-shadow: none;
}

/**********************************************************/

.app .task-controls {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #aaa;
}

.app .task-tabs {
    display: flex;
    position: relative;
}

.app .task-tabs .task-slider {
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 50px;
    height: 9px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color);
    transition: 0.15s ease-out;
}

.app .task-tabs .task-tab {
    padding: 15px;
    font-size: 17px;
    cursor: pointer;
    color: var(--text-color);
}

.app .task-tabs .task-tab.active {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    color: var(--primary-color);
}

.app .task-tabs .task-tab:hover:not(.active) {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
}

.app .badge {
    margin-left: 0.3em;
    padding: 0 0.37em;
    border-radius: 0.76em;
    font-size: 0.9em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.15s ease-in;
}

.app .badge:not([data-value]),
.app .badge[data-value="0"] {
    display: none;
}

.app .icon-edit {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
    color: var(--primary-color);
}

.app .icon-edit.active {
    box-shadow: inset -2px -2px 2px rgba(250, 250, 250, 1),
    inset 2px 2px 4px rgba(0, 0, 0, 0.4),
    0 0 0 2px var(--primary-color);
    border-radius: 10px;
    transform: scale(0.9);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.app .icon-edit :hover {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

/**********************************************************/

.app .task-list {
    padding-top: 8px;
    overflow-y: auto;
}

.app .task {
    padding: 0 15px;
    min-height: 55px;
    list-style: none;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app .task-list[data-filter="done"] .task[data-type="todo"] {
    display: none;
}

.app .task-list[data-filter="todo"] .task[data-type="done"] {
    display: none;
}

.app .task label {
    display: flex;
    align-items: center;
}

.app .task input[type="text"] {
    flex-grow: 1;
}

.app .task-text {
    color: var(--text-color);
}

.app input[type="checkbox"]:checked ~ .task-text {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-color: var(--primary-color);
    /*text-decoration-thickness: 3px;*/
}

@supports (text-decoration-thickness: 3px) {
    .app input[type="checkbox"]:checked ~ .task-text {
        text-decoration-thickness: 3px;
    }
}

.app .task input[type="checkbox"] ~ .task-text {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.app .icon-delete {
    margin-left: 10px;
    padding: 1px 5px;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    color: var(--primary-color);
}

.app .icon-delete:active {
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--secondary-color);
}

.app .icon-delete:hover {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.app .task-list:not([data-edit="1"]) .icon-delete {
    display: none;
}

/*********************************************************************/

@media (max-width: 500px) {

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 2px;
    }

    #root {
        align-items: flex-start;
    }

    .app {
        width: 100vw;
        height: 100vh;
        box-shadow: none;
        border-radius: 0;
    }
}
